*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#eclipse project files
.classpath
.project
.settings/
target/

#Mac OSX
.DS_Store
.svn

#idea project files
*.iml
overlays/
.vscode/

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

.idea
*.iws
*.iml
*.ipr
rebel.xml

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

/logs/
*.log

*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

.DS_Store
Thumbs.db
Servers
.metadata
upload
gen_code